<div class="container">
  <div *ngIf="loading">

    <md-spinner class="loading"></md-spinner>

  </div>
  <div class="row">
    <div class="col-12">
      <div class="card my-5">
        <div class="card-header">
          Inventario
        </div>
        <div>
          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Producto</th>
                  <th>Categoria</th>
                  <th>Unidad</th>
                  <th>Cantidad</th>
                  <th>Venta</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let producto of productos">
                  <td>{{producto.id_producto}}</td>
                  <td>{{producto.nombre}}</td>
                  <td>{{producto.categoria}}</td>
                  <td>{{producto.unidad}}</td>
                  <td>{{producto.cantidad}}</td>
                  <td>{{producto.precio_venta}}</td>
                  <td>
                    <button md-icon-button [mdMenuTriggerFor]="menu">
                   <md-icon>more_vert</md-icon>
                  </button>
                    <md-menu #menu="mdMenu">
                      <button md-menu-item (click)="editarProducto(producto)">
                     <md-icon>create</md-icon>
                      <span>Editar</span>
                    </button>
                      <button md-menu-item>
                     <md-icon>attach_file</md-icon>
                      <span>Ficha técnica</span>
                   </button>
                      <button md-menu-item>
                      <md-icon>delete</md-icon>
                        <span>Eliminar</span>
                     </button>
                    </md-menu>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>