<div class="container">
  <div class="row">
    <div class="col-12">

      <md-grid-list cols="3" rowHeight="2:1">
        <md-grid-tile>
          <md-card class="d-flex align-items-center">
            <md-card-title class="mb-0">Entradas</md-card-title>
            <span class="spacer"></span>
            <i class="material-icons icono-tablero">assignment_ind</i>
          </md-card>
        </md-grid-tile>

         <md-grid-tile>
          <md-card class="d-flex align-items-center">
            <md-card-title class="mb-0">Salidas</md-card-title>
            <span class="spacer"></span>
            <i class="material-icons icono-tablero">assignment_ind</i>
          </md-card>
        </md-grid-tile>

         <md-grid-tile>
          <md-card class="d-flex align-items-center">
            <md-card-title class="mb-0">Ordenes</md-card-title>
            <span class="spacer"></span>
            <i class="material-icons icono-tablero">assignment_ind</i>
          </md-card>
        </md-grid-tile>


        


      </md-grid-list>
    </div>
  </div>
</div>