<div class="container">
  <div class="row">
    <div class="col-12">

      <md-grid-list cols="3" rowHeight="2:1">
        <md-grid-tile>
          <md-card class="d-flex align-items-center">
            <md-card-title class="mb-0">Entradas</md-card-title>
            <span class="spacer"></span>
            <i class="material-icons icono-tablero">archive</i>
          </md-card>
        </md-grid-tile>

        <md-grid-tile>
          <md-card class="d-flex align-items-center">
            <md-card-title class="mb-0">Salidas</md-card-title>
            <span class="spacer"></span>
            <i class="material-icons icono-tablero">unarchive</i>
          </md-card>
        </md-grid-tile>

        <md-grid-tile>
          <md-card class="d-flex align-items-center">
            <md-card-title class="mb-0">Ordenes</md-card-title>
            <span class="spacer"></span>
            <i class="material-icons icono-tablero">assignment</i>
          </md-card>
        </md-grid-tile>

        <md-grid-tile>
          <md-card class="d-flex align-items-center">
            <md-card-title class="mb-0">Reportes</md-card-title>
            <span class="spacer"></span>
            <i class="material-icons icono-tablero">insert_chart</i>
          </md-card>
        </md-grid-tile>

        <md-grid-tile>
          <md-card class="d-flex align-items-center">
            <md-card-title class="mb-0">Inventario</md-card-title>
            <span class="spacer"></span>
            <i class="material-icons icono-tablero">assignment_turned_in</i>
          </md-card>
        </md-grid-tile>

        <md-grid-tile>
          <md-card class="d-flex align-items-center">
            <md-card-title class="mb-0">Orden</md-card-title>
            <span class="spacer"></span>
            <i class="material-icons icono-tablero">business_center</i>
          </md-card>
        </md-grid-tile>

        <md-grid-tile>
          <md-card class="d-flex align-items-center">
            <md-card-title class="mb-0">Clientes</md-card-title>
            <span class="spacer"></span>
            <i class="material-icons icono-tablero">business</i>
          </md-card>
        </md-grid-tile>



      </md-grid-list>
    </div>
  </div>
</div>