<div class="container">
  <div *ngIf="loading">
    <md-spinner class="loading"></md-spinner>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card my-5">
        <div class="card-header">
          Salidas almacen
        </div>
        <div>
          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Id salida</th>
                  <th>Fecha</th>
                  <th>Tipo</th>
                  <th>Cliente</th>
                  <th>Destino</th>
                  <th>Pedido</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let salida of salidas">
                  <td>{{salida.id_salida}}</td>
                  <td>{{salida.fecha}}</td>
                  <td>{{salida.cliente}}</td>
                  <td>{{salida.id_orden}}</td>
                  <td>{{salida.id_orden}}</td>
                  <td>
                    <button md-icon-button [mdMenuTriggerFor]="menu1">
                   <md-icon>more_vert</md-icon>
                  </button>
                    <md-menu #menu1="mdMenu">
                      <button md-menu-item (click)="editSalida(salida)">
                     <md-icon>create</md-icon>
                      <span>Ver y Editar</span>
                    </button>
                      <button md-menu-item>
                     <md-icon>attach_file</md-icon>
                      <span>Ficha técnica</span>
                   </button>
                      <button md-menu-item (click)="delSalida(salida)">
                      <md-icon>delete</md-icon>
                        <span>Eliminar</span>
                     </button>
                    </md-menu>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>