<div class="container">
  <div *ngIf="loading">
    <md-spinner class="loading"></md-spinner>
  </div>
  <div class="row">

    <div class="col-12">

      <div class="card my-5">
        <div class="card-header">
          Entradas almacen
        </div>
        <div>
          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Fecha</th>
                  <th>Num. factura</th>                  
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let entrada of entradas">
                  <td>{{entrada.id_entrada}}</td>
                  <td>{{entrada.fecha}}</td>
                  <td>{{entrada.num_factura}}</td>                  
                  <td>

                    <button md-icon-button [mdMenuTriggerFor]="menu">
                      <md-icon>more_vert</md-icon>
                    </button>
                    
                    <md-menu #menu="mdMenu" >
                      <button md-menu-item (click)="editarEntrada(entrada)">
                        <md-icon>create</md-icon>
                        <span>Editar</span>
                      </button>                      
                      <button md-menu-item>
                        <md-icon>delete</md-icon>
                        <span>Eliminar</span>
                      </button>
                    </md-menu>

                  </td>
                </tr>                
              </tbody>

            </table>
          </div>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-primary">Aceptar</button>
        </div>

      </div>

    </div>
  </div>

</div>