<div class="container">
  <div *ngIf="loading">
    <md-spinner class="loading"></md-spinner>
  </div>
  <div class="row">

    <div class="col-12">

      <div class="card my-5">
        <div class="card-header">
          Entradas almacen
        </div>
        <div>
          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Producto</th>
                  <th>Categoria</th>
                  <th>Num. factura</th>
                  <th>Cantidad</th>
                  <th>Estado</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let producto of productos">
                  <td>{{producto.nombre}}</td>
                  <td>{{producto.categoria}}</td>
                  <td>{{producto.num_factura}}</td>
                  <td>{{producto.cantidad}}</td>
                  <td>Bueno</td>
                  <td>
                    <button md-icon-button [mdMenuTriggerFor]="menu1">
                   <md-icon>more_vert</md-icon>
                  </button>
                    <md-menu #menu1="mdMenu" >
                      <button md-menu-item (click)="editarEntrada(producto)">
                     <md-icon>create</md-icon>
                      <span>Editar</span>
                    </button>
                      <button md-menu-item>
                     <md-icon>attach_file</md-icon>
                      <span>Ficha técnica</span>
                   </button>
                      <button md-menu-item>
                      <md-icon>delete</md-icon>
                        <span>Eliminar</span>
                     </button>
                    </md-menu>
                  </td>
                </tr>                
              </tbody>

            </table>
          </div>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-primary">Aceptar</button>
        </div>

      </div>

    </div>
  </div>

</div>