<div class="container">

  <div class="row">

    <div class="col-12">

      <div class="card">
        <div class="card-header">
          Inventario
        </div>
        <div>
          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Producto</th>
                  <th>Categoria</th>
                  <th>Num. factura</th>
                  <th>Existencias</th>
                  <th>Salida</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Producto 1</td>
                  <td>Categoria 1</td>
                  <td>0000000</td>
                  <td>1</td>
                  <td><input class="form-control" type="text" value=""></td>
                </tr>
                 <tr>
                  <td>Producto 1</td>
                  <td>Categoria 1</td>
                  <td>0000000</td>
                  <td>1</td>
                  <td><input class="form-control" type="text" value=""></td>
                </tr>
                 <tr>
                  <td>Producto 1</td>
                  <td>Categoria 1</td>
                  <td>0000000</td>
                  <td>1</td>
                  <td><input class="form-control" type="text" value=""></td>
                </tr>
                 <tr>
                  <td>Producto 1</td>
                  <td>Categoria 1</td>
                  <td>0000000</td>
                  <td>1</td>
                  <td><input class="form-control" type="text" value=""></td>
                </tr>

                
              </tbody>
            </table>
          </div>
        </div>


      </div>
     
    </div>
  </div>

</div>