<h1 md-dialog-title>Editar inventario</h1>
<div md-dialog-content>

  <form> 
            <div class="form-group row">
              <label for="1" class="col-sm-3 col-form-label">Nombre</label>
              <div class="col-sm-19">
                <input class="form-control" type="text" value="" id="1">
              </div>
            </div>

            <div class="form-group row">
              <label for="2" class="col-sm-3 col-form-label">Unidad</label>
              <div class="col-sm-19">
                <input class="form-control" type="text" value="" id="2">
              </div>
            </div>

            <div class="form-group row">
              <label for="3" class="col-sm-3 col-form-label">Cantidad</label>
              <div class="col-sm-19">
                <input class="form-control" type="text" value="" id="3">
              </div>
            </div>

            <div class="form-group row">
              <label for="4" class="col-sm-3 col-form-label">Número de factura</label>
              <div class="col-sm-19">
                <input class="form-control" type="text" value="" id="4">
              </div>
            </div>

            <div class="form-group row">
              <label for="5" class="col-sm-3 col-form-label">Categoria</label>
              <div class="col-sm-19">
                <select class="form-control" id="5">
                  <option value="1">Material eléctrico</option>
                  <option value="2">Construccion</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="6" class="col-sm-3 col-form-label">Costo</label>
              <div class="col-sm-19">
                <input class="form-control" type="text" value="" id="6">
              </div>
            </div>

            <div class="form-group row">
              <label for="7" class="col-sm-3 col-form-label">Precio</label>
              <div class="col-sm-19">
                <input class="form-control" type="text" value="" id="7">
              </div>
            </div>
          </form>

</div>
<div md-dialog-actions>
  <button md-button md-dialog-close="Option 1">ACEPTAR</button>
  <button md-button md-dialog-close="Option 2">CANCELAR</button>
</div>