<h1 md-dialog-title>Editar producto</h1>
<div md-dialog-content>

  <form> 
            <div class="form-group row">
              <label for="nombre" class="col-sm-4 col-form-label">Nombre</label>
              <div class="col-sm-8">
                <input class="form-control" type="text" id="nombre" name="nombre" [(ngModel)]="producto.nombre">
              </div>
            </div>

            <div class="form-group row">
              <label for="unidad" class="col-sm-4 col-form-label">Unidad</label>
              <div class="col-sm-8">
                <input class="form-control" type="text" id="unidad" name="unidad" [(ngModel)]="producto.unidad">
              </div>
            </div>

            <div class="form-group row">
              <label for="cantidad" class="col-sm-4 col-form-label">Cantidad</label>
              <div class="col-sm-8">
                <input class="form-control" type="text" id="cantidad" name="cantidad" [(ngModel)]="producto.cantidad">
              </div>
            </div>

            <div class="form-group row">
              <label for="num_factura" class="col-sm-4 col-form-label">Número de factura</label>
              <div class="col-sm-8">
                <input class="form-control" type="text" id="num_factura" name="num_factura" [(ngModel)]="producto.num_factura">
              </div>
            </div>

            <div class="form-group row">
              <label for="id_producto_categoria" class="col-sm-4 col-form-label">Categoria</label>
              <div class="col-sm-8">
                <select class="form-control" id="id_producto_categoria" name="id_producto_categoria" [(ngModel)]="producto.id_producto_categoria">
                  <option [value]="categoria.id_producto_categoria" *ngFor="let categoria of categorias">{{categoria.nombre}}</option>
                  >
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="costo" class="col-sm-4 col-form-label">Costo</label>
              <div class="col-sm-8">
                <input class="form-control" type="text" id="costo" name="costo" [(ngModel)]="producto.costo">
              </div>
            </div>

            <div class="form-group row">
              <label for="precio_venta" class="col-sm-4 col-form-label">Precio</label>
              <div class="col-sm-8">
                <input class="form-control" type="text" id="precio_venta" name="precio_venta" [(ngModel)]="producto.precio_venta">
              </div>
            </div>
          </form>

</div>
<div md-dialog-actions>
  <button md-button [md-dialog-close]="true">ACEPTAR</button>
  <button md-button [md-dialog-close]="false">CANCELAR</button>
</div>