<div class="container">

  <div class="row">

    <div class="col-12">

      <div class="card my-5">
        <div class="card-header">
          Entrada almacen
        </div>
        <div>
          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Producto</th>
                  <th>Categoria</th>
                  <th>Num. factura</th>
                  <th style="width:100px">Cantidad</th>
                  <th>Estado</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>producto</td>
                  <td>eléctrico</td>
                  <td>000000</td>
                  <td><input class="form-control" type="text" value=""></td>
                  <td><select class="form-control" id="5">
                  <option value="1">Bueno</option>
                  <option value="2">Dañado</option>
                  <option value="2">Mojado</option>
                </select>
                  </td>
                  <td>
                    <button md-icon-button [mdMenuTriggerFor]="menu1">
                   <md-icon>more_vert</md-icon>
                  </button>
                    <md-menu #menu1="mdMenu">
                      <button md-menu-item>
                     <md-icon>create</md-icon>
                      <span>Editar</span>
                    </button>
                      <button md-menu-item>
                     <md-icon>attach_file</md-icon>
                      <span>Ficha técnica</span>
                   </button>
                      <button md-menu-item>
                      <md-icon>delete</md-icon>
                        <span>Eliminar</span>
                     </button>
                    </md-menu>
                  </td>
                </tr>
                <tr>
                  <td>producto</td>
                  <td>eléctrico</td>
                  <td>000000</td>
                  <td><input class="form-control" type="text" value=""></td>
                  <td><select class="form-control" id="5">
                  <option value="1">Bueno</option>
                  <option value="2">Dañado</option>
                  <option value="2">Mojado</option>
                </select>
                  </td>
                  <td>
                    <button md-icon-button [mdMenuTriggerFor]="menu2">
                   <md-icon>more_vert</md-icon>
                  </button>
                    <md-menu #menu2="mdMenu">
                      <button md-menu-item>
                     <md-icon>create</md-icon>
                      <span>Editar</span>
                    </button>
                      <button md-menu-item>
                     <md-icon>attach_file</md-icon>
                      <span>Ficha técnica</span>
                   </button>
                      <button md-menu-item>
                      <md-icon>delete</md-icon>
                        <span>Eliminar</span>
                     </button>
                    </md-menu>
                  </td>
                </tr>
                <tr>
                  <td>producto</td>
                  <td>eléctrico</td>
                  <td>000000</td>
                  <td><input class="form-control" type="text" value=""></td>
                  <td><select class="form-control" id="5">
                  <option value="1">Bueno</option>
                  <option value="2">Dañado</option>
                  <option value="2">Mojado</option>
                </select>
                  </td>
                  <td>
                    <button md-icon-button [mdMenuTriggerFor]="menu3">
                   <md-icon>more_vert</md-icon>
                  </button>
                    <md-menu #menu3="mdMenu">
                      <button md-menu-item>
                     <md-icon>create</md-icon>
                      <span>Editar</span>
                    </button>
                      <button md-menu-item>
                     <md-icon>attach_file</md-icon>
                      <span>Ficha técnica</span>
                   </button>
                      <button md-menu-item>
                      <md-icon>delete</md-icon>
                        <span>Eliminar</span>
                     </button>
                    </md-menu>
                  </td>
                </tr>
                <tr>
                  <td>producto</td>
                  <td>eléctrico</td>
                  <td>000000</td>
                  <td><input class="form-control" type="text" value=""></td>
                  <td><select class="form-control" id="5">
                  <option value="1">Bueno</option>
                  <option value="2">Dañado</option>
                  <option value="2">Mojado</option>
                </select>
                  </td>
                  <td>
                    <button md-icon-button [mdMenuTriggerFor]="menu4">
                   <md-icon>more_vert</md-icon>
                  </button>
                    <md-menu #menu4="mdMenu">
                      <button md-menu-item>
                     <md-icon>create</md-icon>
                      <span>Editar</span>
                    </button>
                      <button md-menu-item>
                     <md-icon>attach_file</md-icon>
                      <span>Ficha técnica</span>
                   </button>
                      <button md-menu-item>
                      <md-icon>delete</md-icon>
                        <span>Eliminar</span>
                     </button>
                    </md-menu>
                  </td>
                </tr>
                <tr>
                  <td>producto</td>
                  <td>eléctrico</td>
                  <td>000000</td>
                  <td><input class="form-control" type="text" value=""></td>
                  <td><select class="form-control" id="5">
                  <option value="1">Bueno</option>
                  <option value="2">Dañado</option>
                  <option value="2">Mojado</option>
                </select>
                  </td>
                  <td>
                    <button md-icon-button [mdMenuTriggerFor]="menu5">
                   <md-icon>more_vert</md-icon>
                  </button>
                    <md-menu #menu5="mdMenu">
                      <button md-menu-item>
                     <md-icon>create</md-icon>
                      <span>Editar</span>
                    </button>
                      <button md-menu-item>
                     <md-icon>attach_file</md-icon>
                      <span>Ficha técnica</span>
                   </button>
                      <button md-menu-item>
                      <md-icon>delete</md-icon>
                        <span>Eliminar</span>
                     </button>
                    </md-menu>
                  </td>
                </tr>
                <tr>
                  <td>producto</td>
                  <td>eléctrico</td>
                  <td>000000</td>
                  <td><input class="form-control" type="text" value=""></td>
                  <td><select class="form-control" id="5">
                  <option value="1">Bueno</option>
                  <option value="2">Dañado</option>
                  <option value="2">Mojado</option>
                </select>
                  </td>
                  <td>
                    <button md-icon-button [mdMenuTriggerFor]="menu6">
                   <md-icon>more_vert</md-icon>
                  </button>
                    <md-menu #menu6="mdMenu">
                      <button md-menu-item>
                     <md-icon>create</md-icon>
                      <span>Editar</span>
                    </button>
                      <button md-menu-item>
                     <md-icon>attach_file</md-icon>
                      <span>Ficha técnica</span>
                   </button>
                      <button md-menu-item>
                      <md-icon>delete</md-icon>
                        <span>Eliminar</span>
                     </button>
                    </md-menu>
                  </td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-primary">Aceptar</button>
        </div>

      </div>

    </div>
  </div>

</div>