
  <div class="row">
    <div class="col-12">
      <h1 md-dialog-title>Editar orden</h1>
      <div md-dialog-content>

        <form>
          <div class="form-group row">
            <label for="1" class="col-sm-3 col-form-label">Producto</label>
            <div class="col-sm-9">
              <input class="form-control" type="text" value="" id="1">
            </div>
          </div>
          <div class="form-group row">
            <label for="1" class="col-sm-3 col-form-label">Únidad</label>
            <div class="col-sm-9">
              <input class="form-control" type="text" value="" id="1">
            </div>
          </div>
          <div class="form-group row">
            <label for="1" class="col-sm-3 col-form-label">Cantidad</label>
            <div class="col-sm-9">
              <input class="form-control" type="text" value="" id="1">
            </div>
          </div>
        </form>

      </div>
      <div md-dialog-actions>
        <button md-button md-dialog-close="Option 1">ACEPTAR</button>
        <button md-button md-dialog-close="Option 2">CANCELAR</button>
      </div>
    </div>
  </div>
