<div class="container">

  <div class="row">

    <div class="col-12">


      <div class="card my-5">
        <div class="card-header">
          Orden de compra
        </div>
        <div class="card-block">
          <form #formCreateOrden="ngForm" id="formCreateOrden" (ngSubmit)="createOrden()">

            <ng-template #rt let-r="result" let-t="term">
              <span>{{r.nombre || ""}}</span>
            </ng-template>

            <!--    <div class="form-group row" [class.has-danger]="searchFailed">
              <label for="typeahead-http" class="col-sm-2 col-form-label">Buscar producto</label>
              <div class="col-sm-10">
                <input id="typeahead-http" name="typeahead-http" type="text" class="form-control" [(ngModel)]="producto" [ngbTypeahead]="searchProducto"
                  [resultTemplate]="rt" [inputFormatter]="formatterProducto" placeholder="" />
                <span *ngIf="searching">buscando...</span>
                <div class="form-control-feedback" *ngIf="searchFailed">No se encontraron productos.</div>
              </div>
            </div> -->

            <div class="form-group row" [class.has-danger]="searchFailed">
              <label for="typeahead-cliente" class="col-sm-2 col-form-label">Buscar cliente</label>
              <div class="col-sm-10">
                <!--  [(ngModel)]="tacliente" -->
                <input #typeCliente id="typeahead-cliente" name="typeahead-cliente" type="text" class="form-control" [(ngModel)]="cliente"
                  [ngbTypeahead]="searchCliente" [resultTemplate]="rt" [inputFormatter]="formatterCliente" placeholder="" (selectItem)="selectClienteOrden($event,typeCliente,dirFiscal,dirEnvio,inputCliente)"
                />
                <span *ngIf="searching">buscando...</span>
                <div class="form-control-feedback" *ngIf="searchFailed">No se encontraron clientes.</div>
              </div>
            </div>

            <!--       <hr>            
            <pre>Cliente: {{ cliente | json }}</pre> -->

            <div class="form-group row">
              <label for="cliente" class="col-sm-2 col-form-label">Cliente</label>
              <div class="col-sm-10">
                <input #inputCliente class="form-control" type="text" name="cliente" id="cliente" readonly>
              </div>
            </div>

            <!--    <div class="form-group row">
              <div class="col-sm-10 offset-sm-2">
                <md-checkbox>Dirección Fiscal</md-checkbox>
              </div>
            </div> -->

            <div class="form-group row">
              <label for="id_compra_entrega" class="col-sm-2 col-form-label">Lugar Entrega</label>
              <div class="col-sm-10">
                <select class="form-control" name="id_compra_entrega" id="id_compra_entrega" [(ngModel)]="orden.id_compra_entrega">
                  <option [value]="null">Seleccionar...</option> 
                  <option [value]="lugar.id_compra_entrega" *ngFor="let lugar of lugares_entrega">{{lugar.nombre}}</option>                                 
                </select>
              </div>
            </div>

            <div class="form-group row" [class.hidden]="orden.id_compra_entrega==1">
              <!-- <label for="dir_fiscal" class="col-sm-2 col-form-label">Dirección Fiscal</label> -->
              <div class="col-sm-2 col-form-label">
                <md-radio-button>Dirección Fiscal</md-radio-button>
              </div>
              <div class="col-sm-10">
                <textarea #dirFiscal class="form-control" rows="5" name="dir_fiscal" id="dir_fiscal" readonly></textarea>
              </div>
            </div>
            <!-- 
            <div class="form-group row">
              <div class="col-sm-10 offset-sm-2">
                <md-checkbox>Dirección Envío</md-checkbox>
              </div>
            </div> -->

            <div class="form-group row" [class.hidden]="orden.id_compra_entrega==1">
              <!-- <label for="dir_envio" class="col-sm-2 col-form-label">Dirección Envío</label> -->
              <div class="col-sm-2 col-form-label">
                <md-radio-button>Dirección Envío</md-radio-button>
              </div>
              <div class="col-sm-10">
                <textarea #dirEnvio class="form-control" rows="5" name="dir_envio" id="dir_envio" readonly></textarea>
              </div>
            </div>

            <div class="form-group row">
              <label for="direccion_entrega" class="col-sm-2 col-form-label">Otra</label>
              <div class="col-sm-10">
                <textarea class="form-control" rows="5" name="direccion_entrega" id="direccion_entrega"></textarea>
              </div>
            </div>

            <div class="form-group row">
              <label for="fecha_entrega" class="col-sm-2 col-form-label">Fecha Entrega</label>
              <div class="col-sm-10">
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #d="ngbDatepicker" type="text" name="fecha_entrega" id="fecha_entrega"
                    [(ngModel)]="fecha_entrega" (ngModelChange)="onDateChange($event)">
                  <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button" (click)="d.toggle()">
                    <!-- <span class="material-icons" style="font-size: 14px">date_range</span> -->
                  <i class="fa fa-calendar"></i>
                  </button>
                  </span>
                </div>
              </div>
            </div>



            <!--     <div class="form-group row">
              <label for="direccion_entrega" class="col-sm-2 col-form-label">Dirección Entrega</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" name="direccion_entrega" id="direccion_entrega" [(ngModel)]="orden.direccion_entrega">
              </div>
            </div> -->

            <div class="form-group row">
              <label for="id_forma_pago" class="col-sm-2 col-form-label">Forma de pago</label>
              <div class="col-sm-10">
                <select class="form-control" name="id_forma_pago" id="id_forma_pago" [(ngModel)]="orden.id_forma_pago">
                  <option [value]="forma.id_forma_pago" *ngFor="let forma of formas_pago">{{forma.nombre}}</option>                                 
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="nota" class="col-sm-2 col-form-label">Nota</label>
              <div class="col-sm-10">
                <textarea class="form-control" rows="5" name="nota" id="nota" [(ngModel)]="orden.nota"></textarea>
              </div>
            </div>

            <div>Orden: {{orden|json}}</div>
            <pre>Productos {{productos_orden|json}}</pre>

          </form>
        </div>
        <div>
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Producto</th>
                <th>Unidad</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th></th>
              </tr>
              <tr>
                <td>
                  <input id="typeahead-http" name="typeahead-http" type="text" class="form-control" [(ngModel)]="producto" [ngbTypeahead]="searchProducto"
                    [resultTemplate]="rt" [inputFormatter]="formatterProducto" placeholder="" (selectItem)="selectProductoOrden($event,inputCantidad)"
                  />
                </td>
                <td><input class="form-control" type="text" [(ngModel)]="producto.unidad" readonly></td>
                <td><input #inputCantidad class="form-control" type="text" [(ngModel)]="producto.cantidad"></td>
                <td><input class="form-control" type="text" [(ngModel)]="producto.precio_venta"></td>
                <td><button type="button" class="btn btn-primary" (click)="agregarProducto()">Agregar</button></td>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let producto of productos_orden">
                <td>{{producto.nombre}}</td>
                <td>{{producto.unidad}}</td>
                <td>
                  <input type="number" class="form-control" [(ngModel)]="producto.cantidad">
                </td>
                <td>
                  <input type="number" class="form-control" [(ngModel)]="producto.precio_venta">
                </td>
                <td>
                  <button md-icon-button (click)="delProducto(producto)">
                   <md-icon>delete</md-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <div>
            <button type="sbmit" form="formCreateOrden" class="btn btn-primary">Aceptar</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>