<div class="container">
  <div *ngIf="loading">

    <md-spinner class="loading"></md-spinner>

  </div>
  <div class="row">
    <div class="col-12">
      <div class="card my-5">
        <div class="card-header">
          Ordenes de compra
        </div>
        <div>
          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Creación</th>
                  <th>Cliente</th>
                  <th>Entrega</th>
                  <th>Pago</th>
                  <th>Entrega</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let orden of ordenes">
                  <td>{{orden.id_orden_compra}}</td>
                  <td>{{orden.fecha_creacion}}</td>
                  <td>{{orden.cliente}}</td>
                  <td>{{orden.fecha_entrega}}</td>
                  <td>{{orden.forma_pago}}</td>
                  <td></td>
                  <td>
                    <button md-icon-button [mdMenuTriggerFor]="menu">
                      <md-icon>more_vert</md-icon>
                    </button>
                    <md-menu #menu="mdMenu">
                      <button md-menu-item (click)="editarOrden(orden)">
                        <md-icon>create</md-icon>
                        <span>Editar</span>
                      </button>
                      <button md-menu-item (click)="delOrden(orden)">
                        <md-icon>delete</md-icon>
                        <span>Eliminar</span>
                      </button>
                    </md-menu>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>